@font-face {
    font-family: f;
    src: url('font/plus4u.eot?3188530');
    src: url('font/plus4u.eot?3188530#iefix') format('embedded-opentype'),
    url('font/plus4u.woff?3188530') format('woff'),
    url('font/plus4u.ttf?3188530') format('truetype'),
    url('font/plus4u.svg?3188530#plus4u') format('svg');
    font-weight: normal;
    font-style: normal;
}

*[id^='PLUS4U-UCL-BEM-TeachersCatalog-Widget001-error-']{
    position:absolute;
    left:30px;
    top:200px;
    width:750px;
}

#PLUS4U-UCL-BEM-TeachersCatalog-Widget001 #teachersCatalog-spinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left:0%;
    margin-left:0%;
    margin-top:0%;
    padding-left:50%;
    padding-top:20%;
    background-color:rgba(0, 0, 0, 0.2);
}

/* generic styles */
.bg-holder {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(255,255,255,0));
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.bg-holder::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0s ease;
}
.touch-icon:hover>.bg-holder::before, /* same style for touch icon area hover */
.bg-holder:hover::before {
    opacity: 0.2;
    transition-duration: 0.1s;
}
.touch-icon:active>.bg-holder::before, /* same style for touch icon area hover */
.button:active>.bg-holder::before,
.bg-holder:active::before {
    opacity: 1;
    transition-duration: 0s;
}

/* touch icon */
.touch-icon {
    display: inline-block;
    height: 100px;
    width: 74px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
/* IE does not propagate :active state to parent elements */
.ua-ie .touch-icon {
    position: relative;
}
.ua-ie .touch-icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0); /* IE9 needs defined any background, not transparent to set active state to parent element */
}
/* END IE hack */
.touch-icon .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 12px auto 7px;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    overflow: hidden;
    font-size: 38px;
}
.ua-ff .touch-icon .icon {
    margin-bottom: 6px;
}

.touch-icon .glyphs {
    font-family: f;
    position: relative; /* required by Chrome */
    line-height: 50px;
}

/* button */
.button {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 0 5px 0 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;

    vertical-align: bottom;
}
/* IE does not propagate :active state to parent elements */
.ua-ie .button {
    position: relative;
}
.ua-ie .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0); /* IE9 needs defined any background, not transparent to set active state to parent element */
}
/* END IE hack */
.button .icon {
    font-family: f;
    font-size: 24px;
    position: relative;
    z-index: 0;
}
.button .text {
    vertical-align: top;
    position: relative;
    z-index: 0;
    padding-left: 8px;
    padding-right: 7px;
}
.button .text:first-child {
    padding-left: 7px;
}
.ua-ie .button .text,
.ua-ff .button .text {
    top: -1px;
}

.button-small {
    height: 20px;
    line-height: 20px;
    padding: 0 1px;
    font-size: 12px;
    border-radius: 2px;
}
.button-small .icon {
    font-size: 18px;
    top: 1px;
}
.ua-ie .button-small .icon,
.ua-ff .button-small .icon {
    top: 0px;
}
.button-small .text {
    padding-left: 4px;
    padding-right: 5px;
}
.ua-opr .button-small .text,
.ua-safari .button-small .text {
    top: -1px;
}
.button-small .text:first-child {
    padding-left: 5px;
}

.button-big {
    height: 50px;
    line-height: 50px;
    padding: 0 6px;
    font-size: 20px;
}
.button-big .icon {
    font-size: 38px;
}
.button-big .text {
    padding-left: 9px;
    padding-right: 12px;
    top: -1px;
}
.button-big .text:first-child {
    padding-left: 12px;
}

.link {
    font-size: 15px;
    margin: 0 0.5em;
    /*white-space: nowrap;*/
    width: 170px;
    display: inline-block;
}
.link .icon {
    font-family: f;
    font-size: 18px;
    vertical-align: -3px;
    width: 18px;
    display: inline-block;
}
.link .text {
    text-decoration: none;
    color: rgb(0,95,190);
}
.link .text:hover {
    text-decoration: underline;
}
.link .state-icon {
    border-radius: 5.5px;
    width: 11px;
    height: 11px;
    margin: 1px 1px 1px 1px;
    display: inline-block;
    vertical-align: -1px;
    margin-right: 6px;
}



/* general backgrounds and foregrounds */
/* gold */
.color-gold-bg {
    background-color: #bead73;
}
.color-gold-bg::before {
    background-color: #6D560F;
}
/* dark blue */
.color-dark-blue-bg {
    background-color: #5275c1;
}
.color-dark-blue-bg::before {
    background-color: #002A88;
}
/* blue */
.color-blue-bg {
    background-color: #58a2e6;
}
.color-blue-bg::before {
    background-color: #0D5698;
}
/* azure */
.color-azure-bg {
    background-color: #61bddd;
}
.color-azure-bg::before {
    background-color: #006990;
}
/* turquoise */
.color-turquoise-bg {
    background-color: #44c0a4;
}
.color-turquoise-bg::before {
    background-color: #007764;
}
/* green */
.color-green-bg {
    background-color: #69bc72;
}
.color-green-bg::before {
    background-color: #007200;
}
/* light-green */
.color-light-green-bg {
    background-color: #9cbd48;
}
.color-light-green-bg::before {
    background-color: #506F00;
}
/* yellow */
.color-yellow-bg {
    background-color: #ebb128;
}
.color-yellow-bg::before {
    background-color: #894700;
}
/* orange */
.color-orange-bg {
    background-color: #eb9144;
}
.color-orange-bg::before {
    background-color: #913700;
}
/* red */
.color-red-bg {
    background-color: #de6060;
}
.color-red-bg::before {
    background-color: #990e0e;
}
/* pink */
.color-pink-bg {
    background-color: #e294ba;
}
.color-pink-bg::before {
    background-color: #971656;
}
/* violet */
.color-violet-bg {
    background-color: #ac8cd0;
}
.color-violet-bg::before {
    background-color: #6833a2;
}
/* dark-violet */
.color-dark-violet-bg {
    background-color: #7c6ec6;
}
.color-dark-violet-bg::before {
    background-color: #3b2b8d;
}
/* gray */
.color-gray-bg {
    background-color: #8e99a1;
}
.color-gray-bg::before {
    background-color: #384c5a;
}
/* steel */
.color-steel-bg {
    background-color: #e5e5e5;
    color: #696969;
}
.color-steel-bg::before {
    background-color: #A7A7A7;
}
/* steel buttons have different text color for mouse effects */
.touch-icon:active>.color-steel-bg,
.button:active>.color-steel-bg,
.color-steel-bg:active {
    color: #262626;
}

.color-switch {
    display: inline-block;
    margin: 0 1em;
    cursor: pointer;
}
.color-switch.chosen {
    font-weight: bold;
}
.color-switch>span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}